<h1>Listing Users</h1>
<div class="context">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Roepnaam</th>
        <th>Tussenvoegsel</th>
        <th>Achternaam</th>
        <th>Adres</th>
        <th>Woonplaats</th>
        <th>Telefoonnummer</th>
        <th>Is medewerker</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.order(admin: :desc).each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.roepnaam %></td>
          <td><%= user.tussenvoegsel %></td>
          <td><%= user.achternaam %></td>
          <td><%= user.adres %></td>
          <td><%= user.woonplaats %></td>
          <td><%= user.telefoon %></td>
          <td><%= user.admin? ? 'Ja' : 'Nee' %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if current_user.admin? %>
            <td><%= link_to user.admin? ? "Verwijder medewerker" : "Maak medewerker", user, method: :toggle_admin %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>
