<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Roepnaam:</strong>
  <%= @user.roepnaam %>
</p>
<p>
  <strong>Tussenvoegsel:</strong>
  <%= @user.tussenvoegsel %>
</p>
<p>
  <strong>Achternaam:</strong>
  <%= @user.achternaam %>
</p>
<p>
  <strong>Adres:</strong>
  <%= @user.adres %>
</p>
<p>
  <strong>Woonplaats:</strong>
  <%= @user.woonplaats %>
</p>
<p>
  <strong>Telefoonnummer:</strong>
  <%= @user.telefoon %>
</p>

<div class="context">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <% if current_user.admin? %>
    <% if @user.admin? %>
      <%= link_to 'Back', employees_path %>
    <% else %>
      <%= link_to 'Back', users_path %>
    <% end %>
  <% else %>
    <%= link_to 'Back', root_path %>
  <% end %>
</div>
